/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom css */

/* font family */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* general */

.flex{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* header */


header {
    background-color: #282e2b;
}
h1{
    color: whitesmoke;
    font-family: 'ubuntu', sans-serif;
    font-size: 52px;
    font-weight: 900;
    padding: 40px 0;
    text-shadow: 0 0 4px #0a0f12;
    text-transform: capitalize;
}
.flex{
    padding: 40px 0;
    font-size: 24px;
}
.flex h2{
    color: #ff0248;
}
.flex span{
    color: #ffffff;
}

/* main */

main{
    background-color: #282e2b;
}
h3{
    color: whitesmoke;
    font-family: 'ubuntu', sans-serif;
    font-size: 52px;
    font-weight: 900;
    padding: 40px 0;
    text-shadow: 0 0 4px #0a0f12;
    text-transform: capitalize;
}
p{
    color: #837969;
    font-size: 18px;
    padding-bottom: 40px;
    text-align: justify;
    font-family: raleway;
}